@use  "assets" as *;

:root{
    --fs-300: #{rem(12)};
    --fs-400: #{rem(14)};
    --fs-500: #{rem(16)};
    --fs-600: #{rem(18)};
    --fs-700: #{rem(55)};

    @include breakpoint(medium){
        --fs-300: #{rem(15)};
        --fs-400: #{rem(17)};
        --fs-500: #{rem(19)};
        --fs-600: #{rem(40)};
    }
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

// css reset by https://piccalil.li/blog/a-modern-css-reset/
body,
p,
ul,
h1,
h2,
h3,
picture,
figure {
    margin: 0;
}

button{
    font: inherit;
    color: inherit;
    cursor: pointer;
}

h1{
    font-size: var(--fs-600);
    font-weight: 700;
}

body{
    padding: rem(30) rem(28) 0 rem(28);
    font-family: $main-ff;
    font-size: var(--fs-500);
    font-weight: 600;
    color: $clr-white;
    background-color: $clr-bg;
    letter-spacing: 2px;
    line-height: 1.5;

    @include breakpoint(large-sml){
        padding-top: 0;
    }
}

h1,
h2,
h3{
    line-height: 1.1;
}

img, svg {
    display: block;
}

.flex, .grid {
    gap: var(--gap, rem(16));
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.flow > :where(:not(:first-child)){
    margin-top: var(--flow-space, 1rem);
}

#root {
    --flow-space: #{rem(118)};
    padding-bottom: #{rem(24)};

    @include breakpoint(medium){
        --flow-space: #{rem(64)};
    }
}

main {
    position: relative;
}